/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&family=Varela&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #8f61ef;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: 'Varela', 'Kumbh Sans', sans-serif;
  /* --ifm-font-family-base: 'Kumbh Sans', sans-serif; */
  --ifm-font-family-monospace: 'Ubuntu Mono', 'Space Mono', 'Cousine', monospace;
  --ifm-list-item-margin: 0.5rem;
  --ifm-toc-border-color: #8881;
  --ifm-font-size-base: 17px;
  --ifm-footer-padding-vertical: 4rem;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.admonition-icon {
  margin-right: 0.5em;
}

.admonition-icon svg {
  width: 16px;
  height: 16px;
}

.footer__links {
  margin-bottom: 4rem;
}
